.shopify-wrap {
	padding: 27px;
	box-shadow: 0 0 0 1px rgba(63,63,68,.05), 0 1px 3px 0 rgba(63,63,68,.15);
	border-radius: 3px;
}
.shopify-flex {
	display: flex;
	align-items: flex-start;
}
.shopify-flex img {
	width: 200px;
	height: 200px;
	margin-right: 24px;
	vertical-align: middle;
	border: .1rem solid #dfe3e8;
	background-color: #f9fafb;
	border-radius: 3px;
	object-fit: contain;
	overflow: hidden;
}
.shopify-details {
	width: 100%;
	flex-shrink: 9999;
}
.shopify-details header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.shopify-details h1 {
	margin-bottom: 7px;
}
.shopify-price {
	margin-bottom: 14px;

	color: #646464;
	font-size: 16px;
	text-transform: uppercase;
}
.shopify-stock {
	color: #00b007;
}
.shopify-stock span {
	display: inline-block;
	padding: 3px 5px;
	min-width: 1rem;
	text-align: center;
	background-color: rgba(0, 176, 7, 0.05);
	border-radius: 3px;
}
.shopify-stock.out {
	color: #da5a47;
}
.shopify-stock.out span {
	background-color: rgba(218, 90, 71, 0.05);
}
.shopify-stock._info {
	color: #0D99F2;
}
.shopify-stock._info span {
	background-color: rgba(13, 153, 242, 0.05);
}
.shopify-variants {
	width: 100%;
	margin-top: 24px;
	overflow: auto;

	box-shadow: 0 0 0 1px rgba(63,63,68,.05), 0 1px 3px 0 rgba(63,63,68,.15);
	border-radius: 3px;
}
.shopify-variants table {
	width: 100%;
}
.shopify-variants th,
.shopify-variants td {
	padding: 12px 8px;
}
.shopify-variants th:first-child,
.shopify-variants td:first-child {
	width: 50px;
	padding-left: 20px;
}
.shopify-variants th:last-child,
.shopify-variants td:last-child {
	padding-right: 20px;
	text-align: right;
}
.shopify-variants tr td {
	border-top: 1px solid #e3e5e8;
}
.shopify-variants tr:hover td {
	background-color: rgba(223,227,232,.3);
}
.shopify-variants img {
	width: 50px;
	height: 50px;
	vertical-align: middle;
	background-color: #f9fafb;
	border-radius: 3px;
	object-fit: contain;
	overflow: hidden;
}
.shopify-variants .img {
	display: flex;
	width: 50px;
	height: 50px;
	justify-content: center;
	align-items: center;
	background-color: #f9fafb;
	border: 1px solid #dfe3e8;
	border-radius: 3px;
}
.shopify-variants .img svg {
	width: 28px;
	height: 28px;
	fill: #c4cdd5;
}
.shopify-sku {
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
}
.shopify-stats {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 24px;
	list-style: none;
}
.shopify-stats li {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 24px;
	box-shadow: 0 0 0 1px rgba(63,63,68,.05), 0 1px 3px 0 rgba(63,63,68,.15);
	border-radius: 3px;
}
.shopify-stats span {
	display: block;
	margin-bottom: 7px;

	color: #acb7c5;
	font-weight: bold;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.shopify-stats strong {
	font-size: 24px;
}
.shopify-stats-edit {
	padding: 0 !important;
	box-shadow: none !important;
}
.shopify-stats-edit a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding: 24px;

	color: #3f4d5a;
	font-size: 18px;
	text-decoration: none;

	background-color: rgba(96, 125, 159, 0.25);
	border-radius: 3px;
}
.shopify-stats-edit a:before {
	margin-top: 1px !important;
}
.shopify-addresses {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
	grid-gap: 24px;
	list-style: none;
}
.shopify-addresses li {
	padding: 24px;

	border: 1px solid #eee;
	border-radius: 3px;
}
.shopify-default {
	position: relative;
	border-color: #0D99F2 !important;
}
.shopify-default:after {
	content: 'Default Address';
	position: absolute;
	top: 0;
	right: -7px;

	display: inline-block;
	padding: 0 7px;

	color: #fff;
	font-size: 9px;
	text-transform: uppercase;
	font-weight: bold;

	background-color: #0D99F2;
	border-radius: 50px;

	transform: translateY(-50%);
}